section .first {
    background-color: var(--Header-color);
    justify-content: center;
    height: auto;
    color: var(--BG-color);
    align-items: center;
    border-radius: 2em;
    padding: 1em;
    height: 36em;

}

section .second {

    display: flex;
}

.h2 {
    padding: 10px;
}

.first {


    padding: 10px;
}

.first table {
    background-color: #14142B;
    text-align: left;
    border-radius: 10px;
}