section .first {
    background-color: var(--Header-color);
    justify-content: center;
    height: 90vh;
    color: var(--BG-color);
    align-items: center;


}

section .second {

    display: flex;
}

.h2 {
    padding: 10px;
}

.first {


    padding: 10px;
}

.first table {
    background-color: #14142B;
    text-align: left;
    border-radius: 10px;
}