.index-translate {
  position: fixed;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
display: flex;
  background-color: teal;
  color: teal;
}
input{
  border: 1px solid green;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFF8E9;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  width: 100%;
}

.output, .input{
  display: flex;
  flex-direction: column;
    justify-content: center;
}

textarea{
  background-color: transparent;
  color: #FFF8E9;
  border: none;
  resize: none;
  padding: 10px;
  width: 200px;
  height: 100px;
  outline: none;
  overflow: auto;
  margin-top: 10px;
}
.output textarea{
  background-color: green;
  align-items: center;
}

.input textarea {

}

.select-drop-down input{
  padding: 5px 15px;
  color: red;
  font-size: 15px;
}

.select-drop-down .down-arrow svg {
  position: relative;
  left: 85px;

  width: 30px;
  height: 30px;
  fill: red;

}

.arrow-container{
  padding: 15px;
}
.arrow-container svg{
  width: 26px;
  height: 26px;
  fill: red;
}

.language-list{
  width: 90%;
  color: #FFF8E9;

}

.search-list{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.search-list .close-button svg {

  z-index:10;
  width: 30px;
  height: 30px;
  padding: 20px;
  fill: #6E7191;
}

