.index-Translate {

  height: auto;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  background-color: var(--Header-color);
  justify-content: center;
}

input[type="search"] {
  background-color: var(--Header-Weak-color);
  background-image: url('../../stories/assets/img/CircleActionsPlaceholder.svg');
  background-position: center left 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: none;
  border-radius: 1em;
  height: 3.25em;

  caret-color: var(--Line-color);
  color: var(--BG-color);

}

input[type="search"]:focus {
  border: solid 2px var(--Line-color);
  background-position: center left 8px;
  padding-left: 38px;
  background-color: var(--Header-color);
}

input[type="search"]::placeholder {
  color: var(--Line-color);
}


.output,
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  background-color: transparent;
  color: #FFF8E9;
  border: none;
  resize: none;
  padding: 10px;
  width: 200px;
  height: 100px;
  outline: none;
  overflow: auto;
  margin-top: 10px;
}

.output textarea {
  background-color: green;
  align-items: center;
}

.input textarea {}

.select-drop-down input {
  padding: 5px 15px;
  color: red;
  font-size: 15px;
}

.select-drop-down .down-arrow svg {
  position: relative;
  left: 85px;

  width: 30px;
  height: 30px;
  fill: red;

}

.arrow-container {
  padding: 15px;
}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: red;
}

.language-list {
  width: 90%;
  color: #FFF8E9;

}

.search-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-list .close-button svg {

  z-index: 10;
  width: 30px;
  height: 30px;
  padding: 20px;
  fill: #6E7191;
}